<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search for Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="searchEvent($event)" ></ion-searchbar>
  <ion-list class="bg-transparent" color="none">
    <ion-item *ngFor="let item of searchedItem" (click)="openIonModal(item)">
      <ion-icon slot="start" name="person-outline"></ion-icon> {{item.name}}
      (<ion-icon name="ribbon-outline"></ion-icon>{{item.socialCredits}})
      <ion-badge color="tertiary" *ngFor="let i of item.interests" style="margin-right: 10px">
        {{i.categoryName}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <h6 style="margin-left: 10px">&copy; 2022 IS3106.</h6>
  </ion-toolbar>
</ion-footer>