<ion-header>

	<ion-toolbar>
		<ion-title>My Profile</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content>

	<ion-card>

		<ion-card-content>
			<ion-list>

				<ion-item>
					<ion-label><b>Username</b></ion-label>
					{{normalUser.username}}
				</ion-item>

				<ion-item>
					<ion-label><b>Name</b></ion-label>
					{{normalUser.name}}
				</ion-item>

				<ion-item>
					<ion-label><b>Email</b></ion-label>
					{{normalUser.email}}
				</ion-item>

				<ion-item>
					<ion-label><b>Social Credits</b></ion-label>
					{{normalUser.socialCredits}}
				</ion-item>

				<ion-item>
					<ion-label><b>Booking Tokens</b></ion-label>
					{{normalUser.bookingTokens}}
				</ion-item>

				<ion-item>
					<ion-label><b>Interests</b></ion-label>
					<ul>
						<li *ngFor="let i of normalUser.interests">{{i.categoryName}}</li>
					</ul>
				</ion-item>

			</ion-list>

		</ion-card-content>

	</ion-card>

	<ion-card style="text-align: center;" *ngIf="retrieveProductError == false && productToView != null">
		<ion-card-content>
			<ion-button (click)="editMyProfile()">
				<ion-icon slot="start" name="create"></ion-icon>
				Update
			</ion-button>
		</ion-card-content>
	</ion-card>

</ion-content>

<ion-footer style="text-align: center;">

	<ion-toolbar>
		&copy; 2022 IS3106.
	</ion-toolbar>

</ion-footer>