<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> View All Upcoming Activities </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>{{message}}</p>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/createNewActivity']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card expand="full" *ngFor="let activity of activities">
    <ion-card-header>
      <ion-card-title>{{activity.activityName}}</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      Activity ID: {{activity.activityId}}<br />
      Activity Description: {{activity.activityDescription}}<br />
      Number of Participants:
      {{activity.numberOfParticipants}}/{{activity.maxParticipants}}<br />
      Category: {{activity.category.categoryName}}<br />
      Date: {{activity.booking.creationDate}}<br />
      Facility: {{activity.booking.timeSlot.facility.facilityName}}
    </ion-card-content> -->
    <ion-card-content>
      <p>Activity ID: {{activity.activityId}}</p>
      <p>Activity Description: {{activity.activityDescription}}</p>
      <p>
        Number of Participants:
        {{activity.numberOfParticipants}}/{{activity.maxParticipants}}
      </p>
      <p>Category: {{activity.category.categoryName}}</p>
      <!-- <p>Tag:
      <p *ngFor="let tag of activity.tags"> {{tag}}</p>
      </p> -->
      <p>Date: {{activity.booking.timeSlot.timeSlotTime}}</p>
      <p>
        Tags: <br />
        <ion-badge
          color="primary"
          *ngFor="let tag of activity.tags"
          style="margin-right: 10px"
          >{{tag}}</ion-badge
        >
      </p>
    </ion-card-content>
    <ion-button id="view-activity-button" (click)="openIonModal(activity)"
      >View Activity</ion-button
    >
    <strong *ngIf="modalData">{{modalData}}</strong>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h6 style="margin-left: 10px">&copy; 2022 IS3106.</h6>
  </ion-toolbar>
</ion-footer>
