<ion-header>
  <ion-toolbar>
    <ion-title><b>Your Booking Information</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-item lines="inset">
          <ion-label>Booking ID: {{activityBeingViewed.booking.bookingId}}</ion-label>
        </ion-item>

        <ion-item lines="inset">
          <ion-label text-transform:lowercase>
            Booking Status:
            {{activityBeingViewed.booking.bookingStatus}}
          </ion-label>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>Booking Made On:
            {{activityBeingViewed.booking.creationDate}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <h3>Time Slot Details</h3>
        <ion-item lines="inset">
          <ion-label>
            Time Slot Id: {{activityBeingViewed.booking.timeSlot.timeSlotId}}
          </ion-label>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Time Slot Date: {{activityBeingViewed.booking.timeSlot.timeSlotTime}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <h3>Facility Details</h3>
        <ion-item lines="inset">
          <ion-label>
            Facility Name: {{activityBeingViewed.booking.timeSlot.facility.facilityName}}
          </ion-label>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Address: {{activityBeingViewed.booking.timeSlot.facility.address}}
          </ion-label>
        </ion-item>

        <ion-item lines="inset">
          <ion-label>
            Opening Hours: {{activityBeingViewed.booking.timeSlot.facility.openingHour}}.00 -
            {{activityBeingViewed.booking.timeSlot.facility.closingHour}}.00
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="inset">
          <ion-img style="object-fit: cover; width:200%; height: auto;" src={{path}}
            alt={{activityBeingViewed.booking.timeSlot.facility.facilityImage.imageDescription}}></ion-img>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>




<ion-button (click)="closeModel()">Close</ion-button>