<ion-header>
  <ion-toolbar>
    <ion-title><b>{{activityBeingViewed.activityName}} Participant List</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card-header lines="inset">
        <h1>Participants</h1>
      </ion-card-header>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card-title>User Id</ion-card-title>
      </ion-col>
      <ion-col>
        <ion-card-title>Username</ion-card-title>
      </ion-col>
      <ion-col>
        <ion-card-title>Name</ion-card-title>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item expand="full" *ngFor="let participant of participants; index as i">
        <ion-label>{{participant.userId}}</ion-label>
        <ion-label>{{participant.username}}</ion-label>
        <ion-label>{{participant.name}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModel()">Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
