<ion-header>
  <ion-toolbar>
    <ion-title><b>{{activityBeingViewed.activityName}} Participant List</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card-header lines="inset">
      <h1>Participants</h1>
    </ion-card-header>
    <ion-card expand="full" *ngFor="let participant of participants">
      <ion-card-header>
        <ion-card-title>{{participant.username}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModel()">Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
