<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> View My Activities </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="all">
    <ion-segment-button value="hosting">
      <ion-label>Hosting</ion-label>
      <ion-icon name="rocket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="participating">
      <ion-label>Upcoming</ion-label>
      <ion-icon name="golf"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label>Past</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="type">

    <ion-list *ngSwitchCase="'hosting'">

      <ion-card expand="full" *ngFor="let activity of activities">
        <ng-container *ngIf="checkUserHostUpcoming(activity)">
          <ion-card-header>
            <ion-card-title>{{activity.activityName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="!activity.activityOver">
            <h2>Activity is Upcoming</h2>
          </ion-card-content>
          <ion-card-content>
            Activity Description: {{activity.activityDescription}}<br />
            Number of Participants: {{activity.numberOfParticipants}}/{{activity.maxParticipants}}<br />
            Category: {{activity.category.categoryName}}<br />
            Location: {{activity.booking.timeSlot.facility.facilityName}}<br />
            Tags: {{activity.tags}}<br />
            Date: {{activity.booking.timeSlot.timeSlotTime}}<br />
          </ion-card-content>
          <ion-button id="view-activity-button" (click)="openIonModal(activity, 1)">View Activity Details</ion-button>
          <ion-button id="view-participants-button" (click)="openIonModal(activity, 4)">View List of Participants</ion-button>
          <ion-button id="view-booking-button" (click)="openIonModal(activity, 3)">View Booking & Facility Details</ion-button>
        </ng-container>
        
      </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'participating'">
      <!-- <ion-item>PARTICIPATING</ion-item> -->
      <ion-card expand="full" *ngFor="let activity of activities">
        <ng-container *ngIf="checkUserParticipating(activity)">
          <ion-card-header>
            <ion-card-title>{{activity.activityName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Activity Description: {{activity.activityDescription}}<br />
            Number of Participants: {{activity.numberOfParticipants}}/{{activity.maxParticipants}}<br />
            Category: {{activity.category.categoryName}}<br />
            Location: {{activity.booking.timeSlot.facility.facilityName}}<br />
            Tags: {{activity.tags}}<br />
            Date: {{activity.booking.timeSlot.timeSlotTime}}<br />
          </ion-card-content>
          <ion-button id="view-activity-button" (click)="openIonModal(activity, 1)">View Activity Details</ion-button>
          <ion-button id="view-participants-button" (click)="openIonModal(activity, 4)">View Other Participants</ion-button>
          <ion-button id="view-booking-button" (click)="openIonModal(activity, 3)">View Booking & Facility Details</ion-button>
        </ng-container>
        
      </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'past'">
      <!-- <ion-item>PAST ACTIVITIES</ion-item> -->

      <ion-card expand="full" *ngFor="let activity of activities">
        <ng-container *ngIf="checkUserPast(activity)">
          <ion-card-header>
            <ion-card-title>{{activity.activityName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <script>
              document.write("hey");
              </script>
            Activity Description: {{activity.activityDescription}}<br />
            Number of Participants: {{activity.numberOfParticipants}}/{{activity.maxParticipants}}<br />
            Category: {{activity.category.categoryName}}<br />
            Location: {{activity.booking.timeSlot.facility.facilityName}}<br />
            Tags: {{activity.tags}}<br />
            Date: {{activity.booking.timeSlot.timeSlotTime}}<br />
          </ion-card-content>
          <ion-button id="view-activity-button" (click)="openIonModal(activity, 1)">View Activity Details</ion-button>
          <ion-button *ngIf="activity.activityOwner.userId == userId" id="view-participants-button" (click)="openIonModal(activity, 2)">View Participants/Mark Absentees</ion-button>
          <ion-button *ngIf="activity.activityOwner.userId != userId" id="view-participants-button" (click)="openIonModal(activity, 4)">View Participants</ion-button>
          <ion-button id="view-booking-button" (click)="openIonModal(activity, 3)">View Booking & Facility Details</ion-button>
        </ng-container>
        
      </ion-card>
    </ion-list>

  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2022 IS3106.</ion-title>
  </ion-toolbar>
</ion-footer>