<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> View My Activities </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment value="all">
    <ion-segment-button value="ongoing">Ongoing</ion-segment-button>
    <ion-segment-button value="past">Past</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <ion-card expand="full" *ngFor="let activity of activities">
    <ion-card-header>
      <ion-card-title>{{activity.activityName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Activity ID: {{activity.activityId}}<br />
      Activity Description: {{activity.activityDescription}}<br />
      Number of Participants:
      {{activity.numberOfParticipants}}/{{activity.maxParticipants}}<br />
      Category: {{activity.category.categoryName}}<br />
      Date: {{activity.booking.creationDate}}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2022 IS3106.</ion-title>
  </ion-toolbar>
</ion-footer>
