<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>joiNUS</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to joiNUS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Use the side menu to navigate around this demo app.</p>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-content color="secondary">
  <ion-card color="primary">
    <ion-card-header>
      <ion-img
        style="
          height: 400px;
          position: absolute;
          top: 120%;
          right: 0px;
          transform: translateY(-50%);
        "
        src="../../assets/images/house.png"
      ></ion-img>
      <ion-card-title style="text-shadow: 2px 2px #000000; font-weight: bold">
        Welcome to joiNus!:</ion-card-title
      >
    </ion-card-header>

    <ion-card-content color="secondary" style="opacity: 70%">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="../../assets/images/usericon.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{currUser.name}}</h2>
          <h3>Social Credits: {{currUser.socialCredits}}</h3>
          <h3>Tokens: {{currUser.bookingTokens}}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" button="true" [routerLink]="['/view-leaderboard']">
    <ion-card-content style="opacity: 90%">
      <ion-card-title style="font-weight: bold; color: #000000">
        joiNus Leaderboards
      </ion-card-title>
      <ion-list>
        <ion-item *ngFor="let index of [0,1,2]">
          <ion-avatar slot="start">
            <h1 style="font-size: x-large">{{index + 1}}</h1>
          </ion-avatar>
          <ion-label *ngIf="!leaderboard.length == 0">
            <h2>{{leaderboard[index].name}}</h2>
            <h3>Social Credits: {{leaderboard[index].socialCredits}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-content style="opacity: 90%">
      <ion-card-title style="font-weight: bold; color: #000000">
        Your Schedule:
      </ion-card-title>

      <ion-list>
        <ion-item *ngFor="let index of [0,1,2]">
          <ion-label *ngIf="activities.length > index">
            <h2>{{activities[index].activityName}}</h2>
            <h4 class="ion-text-wrap">
              Activity Description: {{activities[index].activityDescription}}<br />
              Location:
              {{activities[index].booking.timeSlot.facility.facilityName}}<br />
              Date:
              {{getDateFormat(activities[index].booking.timeSlot.timeSlotTime)}}<br />
            </h4>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h6 style="margin-left: 10px">&copy; 2022 IS3106.</h6>
  </ion-toolbar>
</ion-footer>
