<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>joiNUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to joiNUS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Use the side menu to navigate around this demo app.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h6 style="margin-left: 10px">&copy; 2022 IS3106.</h6>
  </ion-toolbar>
</ion-footer>
