<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title> Create New Activity </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    #createActivityForm="ngForm"
    (ngSubmit)="create(createActivityForm, datePicked)"
  >
    <ion-card>
      <ion-card-content>
        <div *ngIf="resultSuccess == true" style="color: blue">{{message}}</div>

        <div *ngIf="resultError == true" style="color: red">{{message}}</div>
        <div style="color: red">
          <div
            *ngIf="activityName.invalid && (activityName.dirty || activityName.touched || submitted)"
            class="errorText"
          >
            <div *ngIf="activityName.errors.required">
              Activity Name is required.
            </div>
          </div>

          <div
            *ngIf="activityDescription.invalid && (activityDescription.dirty || activityDescription.touched || submitted)"
            class="errorText"
          >
            <div *ngIf="activityDescription.errors.required">
              Activity Description is required.
            </div>
          </div>

          <div
            *ngIf="maxParticipants.invalid && (maxParticipants.dirty || maxParticipants.touched || submitted)"
            class="errorText"
          >
            <div *ngIf="maxParticipants.errors.required">
              Max Participants is required.
            </div>
          </div>
          <div
            *ngIf="selCategory.invalid && (selCategory.dirty || selCategory.touched || submitted)"
            class="errorText"
          >
            <div *ngIf="selCategory.errors.required">Category is required.</div>
          </div>
          <div
            *ngIf="selFacility.invalid && (selFacility.dirty || selFacility.touched || submitted)"
            class="errorText"
          >
            <div *ngIf="selFacility.errors.required">Facility is required.</div>
          </div>
        </div>

        <ion-card-header>
          <ion-card-title>Create New Activity</ion-card-title>
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label><b>Activity Name: </b></ion-label>
            <ion-input
              type="text"
              placeholder="Volleyball Meetup"
              id="activityName"
              name="activityName"
              [(ngModel)]="newActivity.activityName"
              required="true"
              #activityName="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label><b>Activity Description: </b></ion-label>
            <ion-textarea
              type="text"
              placeholder="Let's meet up for a casual game of volleyball!"
              id="activityDescription"
              name="activityDescription"
              [(ngModel)]="newActivity.activityDescription"
              required="true"
              #activityDescription="ngModel"
            >
            </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label><b>Max Participants: </b></ion-label>
            <ion-input
              type="number"
              placeholder="1"
              id="maxParticipants"
              name="maxParticipants"
              [(ngModel)]="newActivity.maxParticipants"
              required="true"
              #maxParticipants="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label><b>Tags: </b></ion-label>
            <ion-input
              type="text"
              placeholder="Hit enter to submit your tag"
              id="tags"
              name="tags"
              [(ngModel)]="tag"
              (keyup.enter)="addTag(tag); tag=''"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-badge
              color="primary"
              *ngFor="let tag of newActivity.tags"
              style="margin-right: 10px"
              >{{tag}}</ion-badge
            >
          </ion-item>
          <ion-item>
            <ion-label><b>Category: </b></ion-label>
            <ion-select
              type="text"
              placeholder="Sports"
              id="selCategory"
              name="selCategory"
              [(ngModel)]="categoryId"
              required="true"
              #selCategory="ngModel"
            >
              <ion-select-option
                *ngFor="let category of categories"
                [value]="category.categoryId"
                >{{category.categoryName}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label><b>Facility: </b></ion-label>
            <ion-select
              type="text"
              placeholder="USC Bouldering Wall"
              id="selFacility"
              name="selFacility"
              [(ngModel)]="facilityId"
              #selFacility="ngModel"
              required="true"
            >
              <ion-select-option
                *ngFor="let facility of facilities"
                [value]="facility.facilityId"
                >{{facility.facilityName}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="facilityId == 2">
            <ion-label><b>Location: </b></ion-label>
            <ion-input
              type="text"
              placeholder="(Optional) Fill in a location"
              id="selLocation"
              name="selLocation"
              [(ngModel)]="location"
              #selLocation="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item *ngIf="facilityId != 2 && facilityId != null">
            <ion-label><b>Date: </b></ion-label>
            <ion-datetime
              min="{{minDateString}}"
              max="{{maxDateString}}"
              value="{{minDateString}}"
              [(ngModel)]="datePicked"
              #selDate="ngModel"
              id="selDate"
              name="selDate"
              presentation="date"
              required="true"
            ></ion-datetime>
          </ion-item>
          <ion-item *ngIf="facilityId == 2">
            <ion-label><b>Date: </b></ion-label>
            <ion-datetime
              min="{{minDateString}}"
              max="{{maxDateString}}"
              value="{{minDateString}}"
              [(ngModel)]="datePicked"
              id="selDate"
              name="selDate"
              #selDate="ngModel"
              name="date"
              required="true"
            ></ion-datetime>
          </ion-item>
          <ion-item *ngIf="datePicked != null && facilityId != 2">
            <ion-label><b>Timeslot: </b></ion-label>
            <ion-select
              type="text"
              id="selTimeslot"
              name="selTimeslot"
              [(ngModel)]="timeSlotPicked"
              #selTimeslot="ngModel"
              (ionChange)="selectTimeslot(timeSlotPicked)"
              required="true"
            >
              <ion-select-option
                *ngFor="let timeslot of availTimeSlots"
                [value]="timeslot.getHours()"
                >{{timeslot.getHours()}}:00</ion-select-option
              >
            </ion-select>
            <ion-button
              (click)="getAvailTimeSlotsByDate(datePicked, facilityId)"
              >Retrieve Timeslots</ion-button
            >
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card style="text-align: center">
      <ion-card-content>
        <ion-button (click)="clear()"> Clear </ion-button>
        <ion-button type="submit" ion-button block> Create </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h6 style="margin-left: 10px">&copy; 2022 IS3106.</h6>
  </ion-toolbar>
</ion-footer>
