<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title> Create New Activity </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create New Activity</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><b>Activity Name: </b></ion-label>
          <ion-input
            type="text"
            placeholder="Volleyball Meetup"
            id="activityName"
            name="activityName"
            [(ngModel)]="activity.activityName"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label><b>Activity Description: </b></ion-label>
          <ion-textarea
            type="text"
            placeholder="Let's meet up for a casual game of volleyball!"
            id="activityDescription"
            name="activityDescription"
            [(ngModel)]="activity.activityDescription"
          >
          </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label><b>Max Participants: </b></ion-label>
          <ion-input
            type="number"
            placeholder="1"
            id="maxParticipants"
            name="maxParticipants"
            [(ngModel)]="activity.maxParticipants"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label><b>Tags: </b></ion-label>
          <ion-input
            type="text"
            placeholder="Casual"
            id="tags"
            name="tags"
            [(ngModel)]="activity.tags"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select
            type="text"
            placeholder="Sports"
            id="selCategory"
            name="selCategory"
            [(ngModel)]="categoryName"
          >
            <ion-select-option
              *ngFor="let category of categories"
              value="category.categoryId"
              >{{category.categoryName}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label><b>Facility: </b></ion-label>
          <ion-select
            type="text"
            placeholder="USC Bouldering Wall"
            id="selFacility"
            name="selFacility"
            [(ngModel)]="facilityName"
            multiple
          >
            <ion-select-option
              *ngFor="let facility of facilities"
              value="facility.facilityId"
              >{{facility.facilityName}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="createActivity()"> Create Activity </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2022 IS3106.</ion-title>
  </ion-toolbar>
</ion-footer>
