<ion-header>
  <ion-toolbar>
    <ion-title>{{userToView.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col text-center>
        <ion-item>
          <ion-label><b>Social Credits</b></ion-label>
          {{userToView.socialCredits}}
        </ion-item>

        <ion-item>
          <ion-label><b>Interests</b></ion-label>
          <ul>
            <li *ngFor="let i of userToView.interests">{{i.categoryName}}</li>
          </ul>
        </ion-item>

        <ion-item>
          <ion-label><b>Activities (Host)</b></ion-label>
          <ul style="list-style-type: none">
            <li *ngFor="let a of userToView.activitiesOwned" (click)="openIonModal(a)">
              <ion-button color="secondary">{{a.activityName}}</ion-button></li>
          </ul>
        </ion-item>

        <ion-item>
          <ion-label><b>Activities (Participant)</b></ion-label>
          <ul style="list-style-type: none">
            <li *ngFor="let a of userToView.activitiesParticipated" (click)="openIonModal(a)">
              <ion-button color="secondary">{{a.activityName}}</ion-button></li>
          </ul>
        </ion-item>

      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModel()">Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>