<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Create New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #createNormalUserForm="ngForm" (ngSubmit)="create(createNormalUserForm)">
    <ion-card>
      <ion-card-content>
        <ion-card-header>
          <ion-card-title>Create New User Account</ion-card-title>
        </ion-card-header>

        <ion-list>
          <ion-item>
            <ion-label><b>Username: </b></ion-label>
            <ion-input
              type="text"
              placeholder="obamaself"
              id="username"
              name="username"
              [(ngModel)]="newUser.username"
              required="true"
              #username="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label><b>Full Name: </b></ion-label>
            <ion-input
              type="text"
              placeholder="Barack Obama!"
              id="name"
              name="name"
              [(ngModel)]="newUser.name"
              required="true"
              #name="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label><b>Email Address: </b></ion-label>
            <ion-input
              type="email"
              placeholder="barack@obama.com"
              id="email"
              name="email"
              [(ngModel)]="newUser.email"
              required="true"
              #email="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label><b>Password: </b></ion-label>
            <ion-input
              type="password"
              placeholder="securepassword1"
              id="password"
              name="password"
              [(ngModel)]="newUser.password"
              required="true"
              #password="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>What are your interests?</ion-label>
            <ion-select id="selectedInterests"
            name="selectedInterests" required="false" [(ngModel)]="selectedInterests" multiple="true" ok-text="Confirm" cancel-text="Cancel">
              <ion-select-option *ngFor="let interest of allInterests" [value]="interest" >{{interest.categoryName}}</ion-select-option>

            </ion-select>
          </ion-item>

        </ion-list>


      </ion-card-content>
    </ion-card>

    <ion-card style="text-align: center">
      <ion-card-content>
        <ion-button (click)="clear()"> Clear </ion-button>
        <ion-button type="submit" ion-button block> Create </ion-button>
      </ion-card-content>
    </ion-card>
  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <h6 style="margin-left: 10px">&copy; 2022 IS3106.</h6>
  </ion-toolbar>
</ion-footer>